src/main/resources/header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://eviware.com/soapui/config"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="entry" type="con:entryType" xmlns:con="http://eviware.com/soapui/config"/>
  <xs:complexType name="entryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="key"/>
        <xs:attribute type="xs:string" name="value"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>